body {
  margin: 0px;
}

main {
  width: 700px;
  margin: auto;
  margin-top: 60px;
  position: relative;
}

header {
  background: #222;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px;
  font-size: 20px;
}

.bio {
  display: flex;
}

.title {
  background-image: url('https://github.com/green-fox-academy/stayathome-syllabus/blob/master/week01/assets/first-website-header.png?raw=true');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding-left: 20px;
  padding-top: 200px;
  height: 150px;
}

.bio-text {
  margin-left: 20px;
}

.achievements {
  display: flex;
  margin-top: 10px;
}

.experience {
  display: flex;
  margin-top: 10px;
}

.training {
  display: flex;
  margin-top: 10px;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-size: 48px;
  line-height: 40px;
  position: absolute;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  font-size: 36px;
  margin-bottom: -20px;
  width: 280px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  margin-bottom: 50px;
  font-size: 24px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-style: italic;
  color: #222;
  margin-top: -15px;
}

.caps {
  text-transform: uppercase;
}

.small-title {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  font-size: 22px;
  font-weight: bold;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 150%
}

ul {
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 50px;
  line-height: 150%
}

li {
  list-style-type: square;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color: white;
  text-align: center;
  font-size: 36px;
  background: #222;
  position: relative;
  width: 300px;
  margin-left: 0px;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

blockquote::before {
  content: '”';
  font-size: 100px;
  line-height: 0vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

hr {
  border: 2px solid #222;
}